{% extends "index.html" %}
{% block body %}
<button id="f" class="control-button">Forward</button>
<br>
<button id="b" class="control-button">Backward</button>

<br>
<div id="status">
</div>
{% endblock %}

{% block head_script %}
<link rel="stylesheet" type="text/css" href="/static/style.css">

<script>
function postDirection(direction) {
        $("#status").html(direction)

	$.ajax({
		type: "POST",
		url: "/controller/"+direction,
		data: "",
		success: function(data, status) {
    			console.log("Data: " + data + "\nStatus: " + status);
		},
		error: function(jqXHR, textStatus, errorThrown) {
        		console.log("Error, status = " + textStatus + ", " +
              			"error thrown: " + errorThrown);
		}
	});
}
$(document).ready(function(){
    var timeout; 
    $("#f").mousedown(function(){
	postDirection("forward")

        timeout = setInterval( function() {
		postDirection("forward")
        }, 100);

        return false;
    });

    $("#f").mouseup( function() {
        $("#status").html("")
        clearInterval(timeout)
	postDirection("off")
        return false;
    });

    $("#f").mouseout( function() {
        $("#status").html("")
        clearInterval(timeout)
	postDirection("off")
        return false;
    });

    $("#b").mousedown(function(){
	postDirection("backward")
        timeout = setInterval( function() {
		postDirection("backward")
        }, 100);

        return false;
    });

    $("#b").mouseup( function() {
        $("#status").html("")
        clearInterval(timeout)
	postDirection("off")
        return false;
    });

    $("#b").mouseout( function() {
        $("#status").html("")
        clearInterval(timeout)
	postDirection("off")
        return false;
    });
});
</script>
{% endblock %}

