{% extends "index.html" %}
{% block body %}
<button id="fl" class="control-button">Forward-Left</button>
<button id="f" class="control-button">Forward</button>
<button id="fr" class="control-button">Forward-Right</button>
<br>
<button id="bl" class="control-button">Backward-Left</button>
<button id="b" class="control-button">Backward</button>
<button id="br" class="control-button">Backward-Right</button>

<br>
<div id="status">
</div>
{% endblock %}

{% block head_script %}
<link rel="stylesheet" type="text/css" href="/static/style.css">

<script>
function postDirection(direction) {
    $("#status").html(direction)

	$.ajax({
		type: "POST",
		url: "/controller/"+direction,
		data: "",
		success: function(data, status) {
    			console.log("Data: " + data + "\nStatus: " + status);
		},
		error: function(jqXHR, textStatus, errorThrown) {
        		console.log("Error, status = " + textStatus + ", " +
              			"error thrown: " + errorThrown);
		}
	});
}
function control(direction) {
    var timeout; 
    $("#"+direction).mousedown(function(){
    	postDirection(direction)

        timeout = setInterval( function() {
		postDirection(direction)
        }, 100);

        return false;
    });

    $("#"+direction).mouseup( function() {
        $("#status").html("")
        clearInterval(timeout)
    	postDirection("off")
        return false;
    });

    $("#"+direction).mouseout( function() {
        $("#status").html("")
        clearInterval(timeout)
    	postDirection("off")
        return false;
    });
}

$(document).ready(function(){
    control("f")
    control("fl")
    control("fr")
    control("b")
    control("bl")
    control("br")
});
</script>
{% endblock %}

